  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Caveat&family=Libre+Baskerville&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
div{
    text-align: center;
    background-color: black;
    padding-top: 40px;
}

img{
    
    height: 200px;
    width:  400px;
    border: 5px solid white;
}

h1{
    color: white;
}

p{
    color: white;
    padding-bottom: 30px;
}